body{
    margin:0;
}
#main{
    display:grid;
    grid-template-areas: "nav nav nav nav"
                         "header header header aside"
                         "section section section aside"
                         "footer footer footer footer";
    grid-template-rows: 60px 80px 700px 50px;
}
 nav{
     grid-area: nav;
     background-color:pink;
 }
 nav #imagem{
    height: 80%;
    display: flex;
    align-self: center;
 }
 #ancoras{
     display:flex;
     align-items: center;
     justify-content: space-evenly;
 }
 #ancoras a{
     text-decoration: none;
     font-size: 16pt;
     font-family: "Staatliches";
     display: flex;
     align-items: center;
     
 }
 header{
     grid-area: header;
     background-color: lightseagreen;
 }
section{
    grid-area:section;
    background-color: lightsalmon;
}
aside{
    grid-area: aside;
    background-color:lightcoral;
}
footer{
    grid-area: footer;
    background-color: lightgreen;
}